<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Empleados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/bootstrap.css" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Demo IS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/empleados">Empleados</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="d-flex justify-content-center mt-2" >
            <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <h2 th:text="${empleado.getNombre()}"></h2>
            </div>
            <div class="card-body">
                <p th:text="${empleado.getId()}" class="card-text"></p>
                <h4 th:text="${empleado.getDepartamento()}" class="card-title"></h4>
                <p th:text="${empleado.getSueldo()}" class="card-text"></p>                
            </div>
        </div>
        </div>
        
    </body>
</html>
